body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url(meAndYou.jpg);
  background-size: cover;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
